/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
// .datepicker{
//   background-color: #32b796;
//   border-radius: 8px;
// }

.commit{
  border-radius: 4px;
  direction: ltr;
  background-color: rgb(40, 158, 78);
}
