<!-- BANNER -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_url 'stadium.jpg' %>);">
  <div class="banner-content">
    <h1><em>Claim Your Next Soccer Turf</em> </h1>
    <p>Find the perfect soccer pitch for your next match! <br> It's quick and easy</p>

<div class="container center">
<div class="row">
<div col-xs-6 col-xs-offset-6>
<form action="" class="navbar-wagon-search center">
  <input class="navbar-wagon-search-input" placeholder="Pick a date">
  <span class="input-group-addon"><i class="glyphicon glyphicon-th btn datepicker"></i></span>
</form>
</div>
</div>
</div>

</div>



