




<div class="card m-button" style="background-image: url(https://static.pexels.com/photos/399187/pexels-photo-399187.jpeg)">
<%= link_to result.title, field_path(result, :date => params[:search_value])%>
<br>
<%= result.price %>
<%= result.location %>
</div>
